/*
Morado: #753769
Verde: #35e6a1
negro: #000000
*/

*{
  margin: 0;
  padding:0;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}
@media (min-width: 992px) {
  .col-lg-3 {
      flex: 0 0 auto;
      width: 19%;
      text-align: start;
  }
  @media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: flex-start;
        align-items: flex-start;
        justify-content: flex-end;
    }
}
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color: #753769;
}
.navbar-nav {
  display: flex;
  justify-content: space-evenly;
  width: 70%;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  color:#753769;
}
header.row {
  display: flex;
  align-items: center;
}
.fs-1 {
  font-size: large;
  color: #753769;
  text-align: center;
}
.bg-body-tertiary {
  --bs-bg-opacity: 1;
  background-color: rgb(255 255 255) !important;
}
.mb-2 {
  margin-bottom: .5rem !important;
  text-align: center;
  align-items: flex-start;
}.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color: #753769;
}
.form-control {
  display: block;
  width: 40%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: -1.5;
  color: #753769;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #ffffff;
  background-clip: padding-box;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.carousel-item-next, .carousel-item-prev, .carousel-item.active {
  display: flex;
  justify-content: center;
  align-content: space-between;
  align-items: center;
  justify-items: stretch;
}
.logo {
width: 60%;
}
nav {
width: 70%;
}
a{
text-decoration: none;
color: #753769;
}
/*main*/
.cuerpo{
  width: 100%;
}
.w-100 {
  width: 40% !important;
}
.fs-6 {
      color: #0a0a0a; 
      margin-block: revert;
  }
@media (min-width: 780px) {
  .fs-5 {
      color: #0a0a0a; 
      margin-block: revert;
  }
  .w-100 {
    width: 60% !important;
  }
}
.footer {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  height: 0px;
  padding: 20px;
  text-align: center;
  font-size: 14px;
  background-color: #7ae2b9;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-content: stretch;
  font-weight: bold;
  color: #753769;
}
/*PRODUCTOS HEADER*/
.card-group {
display: grid;
grid-template-columns: 1fr 1fr;
margin-bottom: 150px;
justify-content: center;
align-content: stretch;
flex-direction: row;
flex-wrap: nowrap;
align-items: center;
gap: 50px;
}
.card {
  align-items: center;
  margin: 5px;
  --bs-card-border-width: none;
}
.card-title {
  margin-bottom: var(--bs-card-title-spacer-y);
  color: var(--bs-card-title-color);
  text-align: center;
}
.card img {
  max-width: 50%;
  height: auto;
  object-fit: cover;
}
 /*CONTÁCTANOS main*/
.fs-1 {
  font-size: large;
  color: #753769;
  text-align: center;
}
.bg-body-tertiary {
  --bs-bg-opacity: 1;
  background-color: rgb(255 255 255) !important;
}
.mb-2 {
  margin-bottom: .5rem !important;
  text-align: center;
  align-items: flex-start;
}.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color: #753769;
}
.iframe{
width:"600";
height:"450";
border:0;
}
.form {
width: 300px;
margin: 0 auto;
font-family: sans-serif;
}

label {
display: block;
margin-bottom: -6px;
}

input[type="text"],
input[type="tel"],
input[type="email"] {
width: 100%;
padding: 8px;
margin-bottom: 10px;
border: 1px solid #ccc;
border-radius: 4px;
}

input[type="submit"] {
background-color: #753769;
color: white;
padding: 10px 15px;
border: none;
border-radius: 4px;
cursor: pointer;
}

input[type="submit"]:hover {
background-color: #753769;
}
form {
width: 560px;
margin: 0px auto;
font-family: sans-serif;
}
.contenedor-maps {
  display: flex;
  margin-left: 75px;
  margin-bottom: 50px;
}
@media (max-width: 768px) {
  .contenedor-maps {
    flex-direction: column;
    margin-left: 0;
    margin-bottom: 20px; 
  }
}
@media (max-width: 991px) {
  .contenedor-maps {
    flex-direction: column;
    margin-left: 0;
    margin-bottom: 20px;
  }
}
.p-3 {
  padding: 74px;
}
.container-fluid {
  --bs-gutter-x: -0.5rem;
  --bs-gutter-y: 0;
}
.final {
  display: block;
  background-color: #753769;
  color: #56efb3;
  text-align: center;
  font-size: 14px;
}
.final div{
  font-size: 14px;
}