.final>div{
    transition: transform 0.1s ease, box-shadow 0.3s ease;

    &:hover{
        transform: scale(1.05) translateY(-5px);
        box-shadow: 0 4px 8px #000000ba;
        cursor: pointer;
    }
}

.carrusel{
     transition: transform 0.1s ease, box-shadow 0.3s ease;

    &:hover{
        transform: scale(1.05) translateY(-5px);
        box-shadow: 0 4px 8px #f0ededba;
        cursor: pointer;
    }
}   

.maps{
    
     transition: transform 0.1s ease, box-shadow 0.3s ease;

    &:hover{
        transform: scale(1.05) translateY(-5px);
        box-shadow: 0 4px 8px #f0ededba;
        cursor: pointer;
    }
}   
