@use 'variables';
.maps{
    
     transition: transform 0.1s ease, box-shadow 0.3s ease;

    &:hover{
        transform: scale(1.05) translateY(-5px);
        box-shadow: 0 4px 8px #f0ededba;
        cursor: pointer;
    }
}   

.card{
        &:hover{
        transform: scale(1.05) translateY(-5px);
        box-shadow: 0 4px 8px #f0ededba;
        cursor: pointer;
    }
}
[type=buttonpro]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
    background-color: variables.$verde;
    text-align: center;
    color: variables.$negro;
    border: aliceblue;

        &:hover{
        transform: scale(1.05) translateY(-5px);
        box-shadow: 0 4px 8px #ccc;
        cursor: pointer;
    }
}
