@use 'variables';
@use 'mixins';

body {
  font-family: variables.$fuente-principal;
  font-size: variables.$tamano-base;
  color: variables.$negro;
}
a {
  text-decoration: none;
  color: variables.$morado;
}
.fs-1 {
  font-size: large;
  color: variables.$morado;
  text-align: center;
}
.fs-6 {
  color: variables.$morado;
  margin-block: revert;
  text-align: center;
  text-decoration: solid;
  font-size: 25px;
}
.fs-5 {
  @include mixins.media-min(780px) {
    color: #0a0a0a;
    margin-block: revert;
  }
}
.mb-2 {
  margin-bottom: .5rem !important;
  text-align: center;
  align-items: flex-start;
}
.w-100 {
  width: 30% !important;
  @include mixins.media-min(780px) {
    width: 30% !important;
  }
}
.bg-body-tertiary {
  --bs-bg-opacity: 1;
  background-color: rgba(variables.$blanco, var(--bs-bg-opacity)) !important;
}
.p-3 {
  padding: 74px;
}
body {
  font-family: variables.$fuente-principal;
  font-size: variables.$tamano-base;
  color: variables.$negro; 
}
a {
  text-decoration: none;
  color: variables.$morado;
}
.fs-1 {
  font-size: large;
  color: variables.$morado;
  text-align: center;
}
.fs-5 {
  @include mixins.media-min(780px) {
    color: #0a0a0a;
    margin-block: revert;
  }
}
body {
  font-family: variables.$fuente-principal;
  font-size: variables.$tamano-base;
  color: variables.$negro; // Un color de texto base
}
a {
  text-decoration: none;
  color: variables.$morado;
}
.fs-1 {
  font-size: large;
  color: variables.$morado;
  text-align: center;
}
.fs-5 {
  @include mixins.media-min(780px) {
    color: #0a0a0a;
    margin-block: revert;
  }
}
.mb-2 {
  margin-bottom: .5rem !important;
  text-align: center;
  align-items: flex-start;
}
.bg-body-tertiary {
  --bs-bg-opacity: 1;
  background-color: rgba(variables.$blanco, var(--bs-bg-opacity)) !important;
}
.p-3 {
  padding: 74px;
}
