header.row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 40px;
    justify-content: space-evenly;
    align-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;
    gap: 500px;
    justify-items: stretch;
}
.columna-derecha {
  justify-self: end;
  text-align: right;
}
nav {
  width: 100%;
}
.cuerpo {
  width: 100%;
}